<%= javascript_include_tag "login.js" %>
<% if flash[:notice] %>
  <div style="color: red">
  	<% flash[:notice].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
<div id="login">
	<%= form_tag "/articles/list/login", :remote => true, :id =>"lf" do %>
		<%= label_tag "name" %>
		<%= text_field_tag :name %>
		<%= label_tag "password" %>
		<%= password_field_tag :password %>
		<%= submit_tag "login" %>
	<% end %>
	<%= link_to "regist", :controller => "users", :action => "reg"%>
</div>
<h1>Listing articles</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Auther</th>
    <th>Create Time</th>
    <th>Count of Comments</th>
    <th>Last updated Time</th>
  </tr>
<% @articles.each do |article| %>
  <tr>
    <td><%= link_to "#{article.title}", :action => "show", :id => article.id, :num=>5 %></td>
    <td><%= article.user.name %></td>
    <td><%= article.submit_date.strftime("%Y-%m-%d %H:%M:%S") %></td>
    <td align="middle"><%= article.comments.count-1 %></td>
    <td><%= article.last_edit_date.strftime("%Y-%m-%d %H:%M:%S") %></td>
  </tr>
<% end %>
</table>
<br />
<%= link_to 'Publish Article', :action => "publish" %>
